body{
    background-color: beige;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 190, 90);
    padding: 25px;
}

input{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 5px;
}

button{
    padding: 10px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
    margin: 5px;
}

.todo-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: blanchedalmond; */
    padding: 25px;
}

ul{
    list-style: none;
}

li{
    font-size: larger;
    background-color: rgb(255, 190, 90);
    margin-top: 10px;
    padding: 0 15px 0 15px;
    border-radius: 5px;
}

li button{
    background-color: rgb(255, 86, 68);
}